<header>
    <mat-toolbar color="primary" class="header-toolbar">
        <div class="left-icons">
            <button mat-icon-button routerLink="/">
                <mat-icon>home</mat-icon>
            </button>  
            <button mat-icon-button routerLink="/cars">
                <mat-icon>directions_car</mat-icon>
            </button>   
        </div>
        <span class="center-span">Car Shop</span> 
        <div class="right-icons">
            <button mat-icon-button routerLink="/cart">
                <mat-icon>shopping_cart</mat-icon>
            </button>
            <button mat-icon-button routerLink="/mail">
                <mat-icon>contact_mail</mat-icon>
            </button>
        </div>
    </mat-toolbar>
</header>
