<div class="container">
    <h1>Contact Us</h1>
    <form>
      <mat-form-field appearance="fill">
        <mat-label>First Name:</mat-label>
        <input matInput id="fname" name="fname">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Last Name:</mat-label>
        <input matInput id="lname" name="lname">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Email:</mat-label>
        <input matInput type="email" id="email" name="email">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Message:</mat-label>
        <textarea matInput id="message" name="message"></textarea>
      </mat-form-field>
      <br>
      <button class="buttons-block" mat-raised-button type="submit">Submit</button>
    </form>
  </div>