<mat-card class="car-card">
    <mat-card-header>
      <mat-card-title>Mercedes-Benz C-Class</mat-card-title>
      <mat-card-subtitle>1 842 261 ₴</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://images.netdirector.auto/eyJrZXkiOiJuZHN0b2NrL2ltYWdlcy9zdG9jay81YWZlZjAzNTE2OTMzMzkxYmRjYmQwZDhmMmE1N2NhNDQ0YWY2MDIzL1cxS0FGNEJCWFBSMDk4MDM3XzAyNTI2MjMwNTBfMS5qcGciLCJidWNrZXQiOiJhdXRvZnMiLCJsYXN0X21vZGlmaWVkIjoiMCIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6MTI4MCwiaGVpZ2h0Ijo3MjAsImZpdCI6ImNvbnRhaW4iLCJiYWNrZ3JvdW5kIjp7InIiOjI1NSwiZyI6MjU1LCJiIjoyNTUsImFscGhhIjoxfX19fQ==" alt="">
    <mat-card-content>
      <p></p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>BUY</button>
    </mat-card-actions>
  </mat-card>
  